<div class="what-is-it-container">
  <div class="short-description">
    <div class="tile">
      <mat-icon class="tile__icon">add_shopping_cart</mat-icon>
      <span class="tile__content">Easy To Apply For A Trip</span>
    </div>
    <div class="tile">
      <mat-icon class="tile__icon">visibility</mat-icon>
      <span class="tile__content">Providing Comfortable Viewing Of Details Of A Trip</span>
    </div>
    <div class="tile">
      <mat-icon class="tile__icon">email</mat-icon>
      <span class="tile__content">Email Notification</span>
    </div>
    <div class="tile">
      <mat-icon class="tile__icon">language</mat-icon>
      <span class="tile__content">Worldwide Coverage</span>
    </div>
  </div>
  <div class="locations-container">
    <h3 class="locations-container__header">Some of locations you can go</h3>
    <div class="locations-container__locations">
      <div class="location">
        <img class="location__image" src="/assets/Paris.jpeg" alt="Location Image" />
        <h3 class="location__header">Paris</h3>
        <span class="location__description">
          Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine.
          Beyond such landmarks as the Eiffel Tower and the 12th-century, Gothic Notre-Dame cathedral.
        </span>
      </div>
      <div class="location">
        <img class="location__image" src="/assets/Italy.jpg" alt="Location Image" />
        <h3 class="location__header">Italy</h3>
        <span class="location__description">
          Italy, a European country with a long Mediterranean coastline, has left a powerful mark on Western culture and cuisine.
          Its capital, Rome, is home to the Vatican as well as landmark art and ancient ruins.
        </span>
      </div>
      <div class="location">
        <img class="location__image" src="/assets/Netherlands.jpg" alt="Location Image" />
        <h3 class="location__header">Netherlands</h3>
        <span class="location__description">
          The Netherlands, a country in northwestern Europe, is known for a flat landscape of canals, tulip fields, windmills and cycling routes.
          Amsterdam, the capital, is home to the Rijksmuseum, Van Gogh Museum and the house where Jewish diarist Anne Frank hid during WWII
        </span>
      </div>
      <div class="location">
        <img class="location__image" src="/assets/Spain.jpg" alt="Location Image" />
        <h3 class="location__header">Spain</h3>
        <span class="location__description">
          Spain, a country on Europe’s Iberian Peninsula, includes 17 autonomous regions with diverse geography and cultures.
          Capital city Madrid is home to the Royal Palace and Prado museum, housing works by European masters. Segovia has a medieval castle (the Alcázar) and an intact Roman aqueduct.
        </span>
      </div>
    </div>
  </div>
</div>
