@import "color";

.profile-info {
  padding: 50px;

  &__general-info {
    min-width: 500px;
    width: 50%;
    display: flex;
    margin: auto;

    &__profile-image {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      img {
        height: 150px;
        width: 150px;
      }

      .edit-image-button {
        position: absolute;
        top: 115px;
        left: 35px;
        min-width: 40px;
        padding: 0;

        mat-icon {
          color: $orange;
        }
      }

      .editing-button {
        margin-top: 15px;
      }

      mat-menu {
        display: flex;
        flex-direction: column;
      }
    }

    &__profile-info {
      width: 100%;

      form {
        display: flex;
        flex-direction: column;

        button {
          width: 150px;
          margin: auto;
          background: $main-blue;
          color: $white;
        }

        ::ng-deep .mat-form-field .mat-input-element:disabled {
          color: black;
        }
  
        ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
          color: $main-blue !important;
        }
  
        ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
          background-color: $main-blue !important;
        }
      }
    }
  }
}