<div class="profile-info">
  <div class="profile-info__general-info">
    <div class="profile-info__general-info__profile-image"> 
      <img [src]="profileInfoService.getProfileGravatarUrl()" alt="Profile image" />
      <button class="edit-image-button" *ngIf="isProfileEdited" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <label for="image">Upload image</label>
          <input style="visibility:hidden; cursor: pointer" type="file" id="image" (change)="onUploadImage($event.target.files)" />
        </button>
        <button mat-menu-item (click)="onRemoveImage()">Remove image</button>
      </mat-menu>
      <button class="editing-button" mat-button type="button" (click)="onEditClick()">{{isProfileEdited ? 'Cancel editing' : 'Edit profile'}}</button>
    </div>
    <div class="profile-info__general-info__profile-info">
      <form class="common-profile-info" [formGroup]="commonProfileFormGroup" (ngSubmit)="onProfileSubmit('commonProfileInfo')">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" formControlName="name" />
          <mat-error *ngIf="commonProfileFormGroup.get('name').hasError('required')">The name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" formControlName="email" />
          <mat-error *ngIf="commonProfileFormGroup.get('email').hasError('required')">The email is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput placeholder="Enter your age" formControlName="age" />
          <mat-error *ngIf="commonProfileFormGroup.get('age').hasError('required')">The age is required</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="isEmployerInfoDisplayed">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let item of getStatusList()" [value]="item.value" >{{item.text}}</mat-option>
          </mat-select>
          <input matInput placeholder="Select your current status" formControlName="status" />
          <mat-error *ngIf="commonProfileFormGroup.get('status').hasError('required')">The status is required</mat-error>
        </mat-form-field>
        <button mat-button type="submit" *ngIf="isProfileEdited">Submit</button>
      </form>
      <form
        *ngIf="isProfileEdited"
        class="password-profile-info"
        [formGroup]="passwordProfileFormGroup"
        (ngSubmit)="onProfileSubmit('passwordProfileInfo')"
      >
        <mat-form-field>
          <mat-label>Current password</mat-label>
          <input matInput placeholder="Enter your current" formControlName="currentPassword" type="password" />
          <mat-error *ngIf="passwordProfileFormGroup.get('currentPassword').hasError('required')">Current password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>New password</mat-label>
          <input matInput placeholder="Enter new password" formControlName="newPassword" type="password" />
          <mat-error *ngIf="passwordProfileFormGroup.get('newPassword').hasError('required')">New password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm new password</mat-label>
          <input matInput placeholder="Confirm new password" formControlName="confirmNewPassword" type="password" />
          <mat-error *ngIf="passwordProfileFormGroup.get('confirmNewPassword').hasError('required')">Confirm password is required</mat-error>
          <mat-error *ngIf="passwordProfileFormGroup.get('confirmNewPassword').hasError('mustMatch')">New and confirm passwords must match!</mat-error>
        </mat-form-field>
        <button mat-button type="submit" *ngIf="isProfileEdited">Submit</button>
      </form>
    </div>
  </div>
  <app-car-info *ngIf="isEmployerInfoDisplayed"></app-car-info>
</div>