@import "color";
@import "button";

.mat-card {
  background: $main-blue;
  color: $white;

  .logged-in {
    button {
      @include main-button(100px);
    }
  }
  
  .mat-card-actions:last-child {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 0;
  }
}
