@import "color";

.mat-card {
  background: #173F5F;
  color: $white;
  
  .mat-card-actions:last-child {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 0;
  }
}
