<div class="orders">
  <table mat-table [dataSource]="orders$ | async">
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>Destination</th>
      <td mat-cell *matCellDef="let item">{{item.destination}}</td>
    </ng-container>
    <ng-container matColumnDef="departure">
      <th mat-header-cell *matHeaderCellDef>Departure</th>
      <td mat-cell *matCellDef="let item">{{item.departure}}</td>
    </ng-container>
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef>Distance</th>
      <td mat-cell *matCellDef="let item">{{item.distance | orderDistance}}</td>
    </ng-container>
    <ng-container matColumnDef="spendTime">
      <th mat-header-cell *matHeaderCellDef>Spend time</th>
      <td mat-cell *matCellDef="let item">{{item.spendTime | orderSpendTime}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td
        mat-cell
        *matCellDef="let item"
        [class.new]="item.status === 'new'"
        [class.in-progress]="item.status === 'in_progress'"
        [class.completed]="item.status === 'completed'"
        [class.canceled]="item.status === 'canceled'"
      >
        {{item.status | orderStatus}}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let item">
        <a class="details-button" mat-button mat-raised-button [routerLink]="[item.id, 'details']">View details</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getOrdersColumns(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: getOrdersColumns();"></tr>
  </table>
</div>
