<div class="comment">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{getUserData().name}}</mat-card-title>
      <mat-card-subtitle>
        <span>{{getCommentDate()}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="comment__rating">
        <mat-icon *ngFor="let item of getCommentRating()">star</mat-icon>
      </div>
      <div class="comment__text">
        <span>{{data.text}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>