<app-header [headerType]="'signup'"></app-header>
<form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter your name" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Age</mat-label>
    <input matInput placeholder="Enter your age" formControlName="age">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" type="password" formControlName="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input matInput placeholder="Confirm the password" type="password" formControlName="confirmPassword">
  </mat-form-field>
  <button mat-button type="submit">Submit</button>
</form>