<app-header [headerType]="'signup'"></app-header>
<form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter your name" formControlName="name" />
    <mat-error *ngIf="formGroup.get('name').hasError('required')">The name is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Age</mat-label>
    <input matInput placeholder="Enter your age" formControlName="age" />
    <mat-error *ngIf="formGroup.get('age').hasError('required')">The age is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" formControlName="email" />
    <mat-error *ngIf="formGroup.get('email').hasError('required')">The email is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" type="password" formControlName="password" />
    <mat-error *ngIf="formGroup.get('password').hasError('required')">The password is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input matInput placeholder="Confirm the password" type="password" formControlName="confirmPassword" />
    <mat-error *ngIf="formGroup.get('confirmPassword').hasError('required')">The confirmPassword is required</mat-error>
  </mat-form-field>
  <button mat-button type="submit">Submit</button>
</form>