form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 300px;
  margin: auto;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);

  button {
    width: 150px;
    margin: auto;
    background: #173F5F;
    color: white;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #173F5F !important;
  }

  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #173F5F !important;
  }
}