<app-header [headerType]="type" [page]="'order-details'"></app-header>
<div class="order">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="order-image"></div>
      <mat-card-title>{{type === 'user' ? getEmployerData().name : getUserData().name}}</mat-card-title>
      <mat-card-subtitle>
        <div>{{data.departure}} -> {{data.destination}}</div>
        <div>Distance - {{data.distance}} km</div>
        <div>Spent time - {{data.spentTime | orderSpentTime}}</div>
        <div>Price - {{data.cost}} $</div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
     <div
      class="order-status"
      [class.new]="data.status === 'New'"
      [class.done]="data.status === 'Done'"
      [class.canceled]="data.status === 'Canceled'"
      [class.in-progress]="data.status === 'In Progress'"
    >
      {{data.status}}
    </div>
    </mat-card-content>
  </mat-card>
  <app-map></app-map>
</div>