@import "color";
@import "button";

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 100px;
  margin: auto;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);

  button {
    @include main-button;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $main-blue !important;
  }

  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: $main-blue !important;
  }
}