<app-header [headerType]="'login'"></app-header>
<form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
  <div class="form-header">
    <h3>Log in to FarTrip</h3>
  </div>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" formControlName="email" />
    <mat-error *ngIf="formGroup.get('email').hasError('required')">Email is required!</mat-error>
    <mat-error *ngIf="formGroup.get('email').hasError('email')">Email is not correct!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" type="password" formControlName="password" />
    <mat-error *ngIf="formGroup.get('password').hasError('required')">Password is required!</mat-error>
  </mat-form-field>
  <button mat-button mat-raised-button type="submit">Submit</button>
</form>
