@import "color";

.drivers {
  height: 400px;
  overflow: auto;

  table {
    width: 100%;

    .status {
      &.available {
        color: $green;
      }
      &.in-progress {
        color: $orange;
      }
      &.out-of-work {
        color: $light-blue2;
      }
    }

    .details-button {
      width: 120px;
      margin: auto;
      background: #173F5F;
      color: $white;
    }
  }
}
