<div class="drivers">
  <table mat-table [dataSource]="drivers$ | async">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td class="logo" mat-cell *matCellDef="let item">
        <ng-container *ngIf="item.logo">
          <img [src]="'data:image/jpg;base64,' + getLogo(item.logo.data)" alt="Profile image" />
        </ng-container>
        <ng-container></ng-container>
        <ng-container *ngIf="!item.logo">
          <img [src]="driversService.getProfileGravatarUrl(item.email)" alt="Driver image" />
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let item">{{item.name}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td
        mat-cell
        *matCellDef="let item"
        class="status"
        [class.available]="item.status === 'available'"
        [class.in-progress]="item.status === 'in_progress'"
        [class.out-of-work]="item.status === 'out_of_work'"
      >
        {{item.status | employeeStatus}}
    </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let item">
        <a class="details-button" mat-button mat-raised-button [routerLink]="[item.id, 'details']">View details</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="driversService.getDriversDisplayedColumns(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: driversService.getDriversDisplayedColumns();"></tr>
  </table>
</div>