@import "color";

.car-info {
  padding: 50px;
  min-width: 500px;
  width: 50%;
  display: flex;
  margin: auto;

  &__image {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 300px;
    }
  }

  &__description {
    width: 100%;

    form {
      display: flex;
      flex-direction: column;

      button {
        width: 150px;
        margin: auto;
        background: $main-blue;
        color: $white;
      }

      ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
        color: $main-blue !important;
      }

      ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
        background-color: $main-blue !important;
      }
    }
  }
}