<div class="car-info">
  <div class="car-info__image">
    <img src="#" alt="Car image" />
    <button mat-button type="button" (click)="onEditClick()">{{isInfoEdited ? 'Cancel editing' : 'Edit info'}}</button>
  </div>
  <div class="car-info__description">
    <form [formGroup]="formGroup" (ngSubmit)="onCarInfoSubmit()">
      <mat-form-field>
        <mat-label>Model</mat-label>
        <input matInput placeholder="Enter the car model" formControlName="model" [value]="getCarInfo() ? getCarInfo().model : ''" />
        <mat-error *ngIf="formGroup.get('model').hasError('required')">The model is required!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Note</mat-label>
        <input matInput placeholder="Enter the note for users" formControlName="note" [value]="getCarInfo() ? getCarInfo().note : ''" />
        <mat-error *ngIf="formGroup.get('note').hasError('required')">The note for usersis required!</mat-error>
      </mat-form-field>
      <button mat-button type="submit" *ngIf="isInfoEdited">Submit</button>
    </form>
  </div>
</div>
