<app-header [headerType]="getOrderType()" [page]="'order-details'"></app-header>
<div class="order">
  <mat-card>
    <mat-card-header>
      <div class="order-image">
        <img [src]="getOrderUserGravatarUrl()" />
      </div>
      <div>
        <mat-card-title>{{getOrderData()?.name}}</mat-card-title>
        <mat-card-subtitle>
          <div>{{getOrderData()?.departure}} -> {{getOrderData()?.destination}}</div>
          <div>Distance - {{getOrderData()?.distance | orderDistance}} km</div>
          <div>Spent time - {{getOrderData()?.spendTime | orderSpendTime}}</div>
          <div>Price - {{getOrderData()?.cost}} $</div>
        </mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
     <div
      class="order-status"
      [class.new]="getOrderData()?.status === 'new'"
      [class.in-progress]="getOrderData()?.status === 'in_progress'"
      [class.completed]="getOrderData()?.status === 'completed'"
      [class.canceled]="getOrderData()?.status === 'canceled'"
    >
      {{getOrderData()?.status | orderStatus}}
    </div>
    <div class="order-actions">
      <button
        *ngIf="getOrderType() === 'employee' && getOrderData()?.status === 'new'"
        mat-button
        mat-raised-button
        type="button"
        (click)="onSubmit()"
      >
        Confirm
      </button>
      <button
        mat-button
        mat-raised-button
        type="button"
        (click)="onCancel()"
        *ngIf="getOrderData()?.status === 'new'"
      >
        Cancel
    </button>
    </div>
    </mat-card-content>
  </mat-card>
  <app-map [routePoints]="getOrderData().routePoints"></app-map>
</div>