<app-header [headerType]="getOrderType()" [page]="'order-details'"></app-header>
<div class="order">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="order-image"></div>
      <mat-card-title>{{getOrderData().name}}</mat-card-title>
      <mat-card-subtitle>
        <div>{{getOrderData().departure}} -> {{getOrderData().destination}}</div>
        <div>Distance - {{getOrderData().distance | orderDistance}}</div>
        <div>Spent time - {{getOrderData().spendTime | orderSpendTime}}</div>
        <div>Price - {{getOrderData().cost}} $</div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
     <div
      class="order-status"
      [class.new]="getOrderData().status === 'new'"
      [class.in-progress]="getOrderData().status === 'in_progress'"
      [class.completed]="getOrderData().status === 'completed'"
      [class.canceled]="getOrderData().status === 'canceled'"
    >
      {{getOrderData().status | orderStatus}}
    </div>
    </mat-card-content>
  </mat-card>
  <app-map></app-map>
</div>