@import "color";
@import "button";

.order {
  width: 70%;
  margin: 20px auto;

  .order-status {
    font-size: 24px;

    &.new {
      color: $light-blue;
    }
    &.in-progress {
      color: $orange;
    }
    &.completed {
      color: $green;
    }
    &.canceled {
      color: $red;
    }
  }

  ::ng-deep mat-card-header {
    .mat-card-header-text {
      margin: 0;
    }
  }

  ::ng-deep app-map {
    div {
      margin-top: 30px;
    }
  }

  mat-card {
    .order-image {
      background-size: cover;
      width: 100px;
      height: 100px;
    }

    mat-card-subtitle {
      div {
        margin-top: 5px;
      }
    }
  }

  .order-actions {
    margin-top: 10px;
    button {
      @include main-button(100px);

      &:nth-child(2) {
        margin-left: 20px;
      }
    }
  }
}
