<app-header [headerType]="'user'" [page]="'driver-details'"></app-header>
<div class="driver">
  <div class="driver__info">
    <div class="driver__info__general">
      <mat-card>
        <mat-card-header>
          <ng-container *ngIf="(driver$ | async)?.logo">
            <div class="driver-image">
              <img [src]="'data:image/jpg;base64,' + getLogo((driver$ | async).logo.data)" alt="Driver image" />
            </div>
          </ng-container>
          <ng-container></ng-container>
          <ng-container *ngIf="!(driver$ | async)?.logo">
            <div class="driver-image">
              <img [src]="getProfileGravatarUrl((driver$ | async)?.email)" alt="Driver image" />
            </div>
          </ng-container>
          <div>
            <mat-card-title>{{(driver$ | async)?.name}}</mat-card-title>
            <mat-card-subtitle>
              <span
                class="status"
                [class.available]="(driver$ | async)?.status === 'available'"
                [class.in-progress]="(driver$ | async)?.status === 'in_progress'"
                [class.out-of-work]="(driver$ | async)?.status === 'out_of_work'"
              >
                {{getStatus((driver$ | async)?.status)}}
              </span>
              <div>
                <mat-icon class="rating-icon" *ngFor="let item of getRating((driver$ | async)?.rating)">star</mat-icon>
              </div>
              <div class="work_description">
                <span>{{(driver$ | async)?.workDescription}}</span>
              </div>
            </mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <button
            *ngIf="!spinnerService.getSpinner()"
            class="apply-button"
            mat-button
            mat-raised-button
            type="button"
            (click)="onDriverApply()"
          >
            Apply
          </button>
          <mat-spinner *ngIf="spinnerService.getSpinner()"></mat-spinner>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="driver__info__car">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Car description</mat-card-title>
          <mat-card-subtitle>{{(driver$ | async)?.car.model}}</mat-card-subtitle>
        </mat-card-header>
        <ng-container *ngIf="(driver$ | async)?.car.image">
          <div class="car-image">
            <img mat-card-image [src]="'data:image/jpg;base64,' + getCarImage((driver$ | async).car.image.data)" alt="Car image">
          </div>
        </ng-container>
        <ng-container></ng-container>
        <ng-container *ngIf="!(driver$ | async)?.logo">
          <div class="car-image">
            <img [src]="getProfileGravatarUrl((driver$ | async)?.email)" alt="Driver image" />
          </div>
        </ng-container>
        <mat-card-content>
          <p>{{(driver$ | async)?.car.note}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="driver__comments">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span>Comments</span>
          <span><mat-icon class="add-comment" (click)="onAddCommentClick()">add_comment</mat-icon></span>
        </mat-card-title>
      </mat-card-header>
      <app-employer-comments [employerId]="(driver$ | async)?.id"></app-employer-comments>
    </mat-card>
  </div>
</div>
