@import "color";
@import "button";

.driver {
  padding: 20px 50px;
  width: 50%;
  margin: auto;

  mat-card {
    margin: 15px;
  }

  &__info {
    &__general {
      .status {
        font-size: 16px;

        &.available {
          color: $green;
        }
        &.in-progress {
          color: $orange;
        }
        &.out-of-work {
          color: $light-blue2;
        }
      }

      .rating-icon {
        color: $yellow;
      }

      .driver-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }

      .work_description {
        margin-top: 5px;
        font-size: 16px;;
      }

      .apply-button {
        @include main-button(100px);
      }
    }
    &__car {
      img {
        width: 500px;
        height: 500px;
        display: block;
        margin: auto;
      }
    }
  }

  &__comments {
    mat-card-title {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 140px;

      mat-icon {
       font-size: 30px;
       cursor: pointer;
      }
    }
    ::ng-deep .comment {
      width: 100%;
    }

    mat-card {
      box-shadow: none;
    }
  }
}
