<app-header [headerType]="'user'" [page]="'driver-details'"></app-header>
<div class="driver">
  <div class="driver__info">
    <div class="driver__info__general">
      <mat-card>
        <mat-card-header>
          <div class="driver-image">
            <img [src]="driversService.getProfileGravatarUrl(getDriverData()?.email)" alt="Driver image" />
          </div>
          <div>
            <mat-card-title>{{getDriverData()?.name}}</mat-card-title>
            <mat-card-subtitle>
              <span
                class="status"
                [class.available]="getDriverData()?.status === 'available'"
                [class.in-progress]="getDriverData()?.status === 'in_progress'"
                [class.out-of-work]="getDriverData()?.status === 'out_of_work'"
              >
                {{getStatus()}}
              </span>
              <div>
                <mat-icon class="rating-icon" *ngFor="let item of getRating()">star</mat-icon>
              </div>
              <div class="work_description">
                <span>{{getDriverData()?.workDescription}}</span>
              </div>
            </mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <button class="apply-button" mat-button mat-raised-button type="button" (click)="onDriverApply()">Apply</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="driver__info__car">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Car description</mat-card-title>
          <mat-card-subtitle>{{getDriverData()?.car.model}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>{{getDriverData()?.car.note}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="driver__comments">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span>Comments</span>
          <span><mat-icon (click)="onAddCommentClick()">add_comment</mat-icon></span>
        </mat-card-title>
      </mat-card-header>
      <app-employer-comments [employerId]="getDriverData()?.id"></app-employer-comments>
    </mat-card>
  </div>
</div>